h1{
    margin-bottom: 30px;
}

.nursary-container {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px;
}
  
.nursary-images {
    display: flex;
    gap: 60px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
  
.nursary-images::-webkit-scrollbar {
    display: none; 
}
  
.nursary-item {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.nursary-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
  
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    border-radius: 30%;
}
  
.left-arrow {
    left: 10px;
}
  
.right-arrow {
    right: 10px;
}
  